li {
  list-style: none;
}
nav {
  background-color: gold;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: end;
}
nav li a {
  text-decoration: none;
  }
nav li a:hover {
  background-color: #0a0a23;
  color: aliceblue;
  border-radius: 3px;
}
.courses-intro{
  background-color: #004080;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}
.courses-intro h1{
  font-size: 36px;
  margin-bottom: 10px;
}
.courses-intro p{
  font-size: 18px;
}

.courses-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  background-color: #e6f2ff;
}
.course-card{
  background-color: white;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;box-shadow: 0 4px 8px rgba(0, 0green, 0blue, 0.7);
transition: transform 0.5s ease ;
}
.course-card:hover{
  transform: translateY(-10px);
}
.course-card h2{
  color: orangered;
  margin-bottom: 10px;
}
.course-card p{
  font-size: 16px;
  margin-bottom: 15px;
}
.apply-btn{
  display: inline-block;
  padding: 10px 20px;
  background-color: #004080;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.5s ease;
}
.apply-btn:hover{
  background-color: goldenrod;
}




.footer {
  background-color: #0a0a23;
  color: white;
  padding: 3rem 1rem;
  margin: 3rem;
  font-size: 0.95rem;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}
.footer-section {
  flex: 1 1 220px;
}
.footer-section h3 {
  color: aliceblue;
  margin-bottom: 1rem;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.7s;
}

.footer-section ul li a:hover {
  color: brown;
  text-decoration: underline;
}
.footer-bottom {
  text-align: center;
  padding-top: 1rem;
}
